<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parix.leaveapplication" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".HomeForSuper"></activity>
        <activity android:name=".ApplyLeave"></activity>
        <activity android:name=".LeaveBalance"></activity>
        <activity android:name=".MyProfile"></activity>
        <activity android:name=".WorkList"></activity>
        <activity android:name=".MyReportees"></activity>

    </application>

</manifest>
